.app__body {
  text-align: center;
}

.app__content {
  padding: 2pc 25pc;
}

.app__title {
  font-size: 30px;
  display: block;
  color: #fff;
}

.app__subtitle {
  font-size: 15px;
  display: block;
  color: #fff;
  margin-top: 5px;
}
