.text__input {
  margin-top: 15px;
  padding: 15px 10px;
  border-radius: 4px;
  background-color: #fff;
  border: 0;
  color: #000;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn__add {
  padding: 10px 25px;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
